<p>student-details-list works!</p>
Test
<!-- <p>{{ studentDetailsList[0].firstName }}</p> -->
<table border = "1">
    <thead>
        <tr><th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Marks</th>
    </thead>
    <tbody>
        <tr *ngFor = "let temp of studentDetailsList">
            <td>{{ temp.firstName }}</td>
            <td>{{  temp.lastName }}</td>
            <td>{{  temp.email }}</td>
            <td>{{  temp.marks }}</td>
        </tr>
    </tbody>
</table>